* {
	margin: 0;
	font-family: monospace;
	font-size: 14px;
}

body, html {
	height: 100%;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

#tpContainer {
	position: absolute;
	left: 8px;
	top: 8px;
}

#root {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}